[user]
    email = damien.cathrine@arm.com
    name = Damien Cathrine
[core]
    editor = vim
[log]
    decorate = true
[merge]
    conflictstyle = diff3
    tool = tkdiff
[diff]
    tool = vimdiff
[push]
    default = simple
[difftool]
    prompt = false
